.fightarea{
  display: flex;
  gap: 20px;
}

#char, #monster {
  flex: 1;
}

.lifebar{
  height: 20px;
  border: 1.5px solid #333;
  border-radius: 5px;
}

.lifebar .bar {
  height: inherit;
  background-color: red;
  border-radius: 5px;
}

.log{
  border: 1.5px dotted #777;
  border-radius: 5px;
  height: 300px;
  overflow-y: scroll;
}